<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-justificacion-heading" jhiTranslate="sicuApp.justificacion.home.createOrEditLabel">Create or edit a Justificacion</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sicuApp.justificacion.desde" for="field_desde">Desde</label>
                    <div class="input-group">
                        <input id="field_desde" type="text" class="form-control" name="desde" ngbDatepicker  #desdeDp="ngbDatepicker" formControlName="desde"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="desdeDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('desde').invalid && (editForm.get('desde').dirty || editForm.get('desde').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('desde').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sicuApp.justificacion.hasta" for="field_hasta">Hasta</label>
                    <div class="input-group">
                        <input id="field_hasta" type="text" class="form-control" name="hasta" ngbDatepicker  #hastaDp="ngbDatepicker" formControlName="hasta"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="hastaDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('hasta').invalid && (editForm.get('hasta').dirty || editForm.get('hasta').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('hasta').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sicuApp.justificacion.motivo" for="field_motivo">Motivo</label>
                    <select class="form-control" name="motivo" formControlName="motivo" id="field_motivo">
                        <option value="ENFERMEDAD">{{'sicuApp.MotivoInasistencia.ENFERMEDAD' | translate}}</option>
                        <option value="SUSPENSION_CLASES">{{'sicuApp.MotivoInasistencia.SUSPENSION_CLASES' | translate}}</option>
                        <option value="VIAJE">{{'sicuApp.MotivoInasistencia.VIAJE' | translate}}</option>
                        <option value="OTROS">{{'sicuApp.MotivoInasistencia.OTROS' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('motivo').invalid && (editForm.get('motivo').dirty || editForm.get('motivo').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('motivo').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sicuApp.justificacion.observaciones" for="field_observaciones">Observaciones</label>
                    <input type="text" class="form-control" name="observaciones" id="field_observaciones"
                           formControlName="observaciones"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sicuApp.justificacion.beneficiario" for="field_beneficiario">Beneficiario</label>
                    <select class="form-control" id="field_beneficiario" name="beneficiario" formControlName="beneficiario">
                        <option *ngIf="!editForm.get('beneficiario').value" [ngValue]="null" selected></option>
                        <option [ngValue]="beneficiarioOption.id === editForm.get('beneficiario').value?.id ? editForm.get('beneficiario').value : beneficiarioOption" *ngFor="let beneficiarioOption of beneficiarios; trackBy: trackBeneficiarioById">{{beneficiarioOption.nombreCompleto}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('beneficiario').invalid && (editForm.get('beneficiario').dirty || editForm.get('beneficiario').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('beneficiario').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
