<div>
    <h2 id="page-heading">
        <span jhiTranslate="sicuApp.justificacion.home.title">Justificacions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-justificacion" [routerLink]="['/justificacion/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="sicuApp.justificacion.home.createLabel">
            Create a new Justificacion
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="justificacions?.length === 0">
        <span jhiTranslate="sicuApp.justificacion.home.notFound">No justificacions found</span>
    </div>
    <div class="table-responsive" *ngIf="justificacions?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="desde"><span jhiTranslate="sicuApp.justificacion.desde">Desde</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="hasta"><span jhiTranslate="sicuApp.justificacion.hasta">Hasta</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="motivo"><span jhiTranslate="sicuApp.justificacion.motivo">Motivo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="observaciones"><span jhiTranslate="sicuApp.justificacion.observaciones">Observaciones</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="beneficiario.nombreCompleto"><span jhiTranslate="sicuApp.justificacion.beneficiario">Beneficiario</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let justificacion of justificacions ;trackBy: trackId">
                <td><a [routerLink]="['/justificacion', justificacion.id, 'view' ]">{{justificacion.id}}</a></td>
                <td>{{justificacion.desde | date:'mediumDate'}}</td>
                <td>{{justificacion.hasta | date:'mediumDate'}}</td>
                <td jhiTranslate="{{'sicuApp.MotivoInasistencia.' + justificacion.motivo}}">{{justificacion.motivo}}</td>
                <td>{{justificacion.observaciones}}</td>
                <td>
                    <div *ngIf="justificacion.beneficiario">
                        <a [routerLink]="['/beneficiario', justificacion.beneficiario?.id, 'view' ]" >{{justificacion.beneficiario?.nombreCompleto}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/justificacion', justificacion.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/justificacion', justificacion.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/justificacion', { outlets: { popup: justificacion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="justificacions?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
