<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="justificacion">
            <h2><span jhiTranslate="sicuApp.justificacion.detail.title">Justificacion</span> {{justificacion.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sicuApp.justificacion.desde">Desde</span></dt>
                <dd>
                    <span>{{justificacion.desde}}</span>
                </dd>
                <dt><span jhiTranslate="sicuApp.justificacion.hasta">Hasta</span></dt>
                <dd>
                    <span>{{justificacion.hasta}}</span>
                </dd>
                <dt><span jhiTranslate="sicuApp.justificacion.motivo">Motivo</span></dt>
                <dd>
                    <span jhiTranslate="{{'sicuApp.MotivoInasistencia.' + justificacion.motivo}}">{{justificacion.motivo}}</span>
                </dd>
                <dt><span jhiTranslate="sicuApp.justificacion.observaciones">Observaciones</span></dt>
                <dd>
                    <span>{{justificacion.observaciones}}</span>
                </dd>
                <dt><span jhiTranslate="sicuApp.justificacion.beneficiario">Beneficiario</span></dt>
                <dd>
                    <div *ngIf="justificacion.beneficiario">
                        <a [routerLink]="['/beneficiario', justificacion.beneficiario?.id, 'view']">{{justificacion.beneficiario?.nombreCompleto}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/justificacion', justificacion.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
