<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="documentoJustificacion">
            <h2><span jhiTranslate="sicuApp.documentoJustificacion.detail.title">Documento Justificacion</span> {{documentoJustificacion.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sicuApp.documentoJustificacion.nombreArchivo">Nombre Archivo</span></dt>
                <dd>
                    <span>{{documentoJustificacion.nombreArchivo}}</span>
                </dd>
                <dt><span jhiTranslate="sicuApp.documentoJustificacion.fileContent">File Content</span></dt>
                <dd>
                    <div *ngIf="documentoJustificacion.fileContent">
                        <a (click)="openFile(documentoJustificacion.fileContentContentType, documentoJustificacion.fileContent)" jhiTranslate="entity.action.open">open</a>
                        {{documentoJustificacion.fileContentContentType}}, {{byteSize(documentoJustificacion.fileContent)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="sicuApp.documentoJustificacion.justificacion">Justificacion</span></dt>
                <dd>
                    <div *ngIf="documentoJustificacion.justificacion">
                        <a [routerLink]="['/justificacion', documentoJustificacion.justificacion?.id, 'view']">{{documentoJustificacion.justificacion?.description}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/documento-justificacion', documentoJustificacion.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
