<div>
    <h2 id="page-heading">
        <span jhiTranslate="sicuApp.documentoJustificacion.home.title">Documento Justificacions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-documento-justificacion" [routerLink]="['/documento-justificacion/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="sicuApp.documentoJustificacion.home.createLabel">
            Create a new Documento Justificacion
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="documentoJustificacions?.length === 0">
        <span jhiTranslate="sicuApp.documentoJustificacion.home.notFound">No documentoJustificacions found</span>
    </div>
    <div class="table-responsive" *ngIf="documentoJustificacions?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="nombreArchivo"><span jhiTranslate="sicuApp.documentoJustificacion.nombreArchivo">Nombre Archivo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="fileContent"><span jhiTranslate="sicuApp.documentoJustificacion.fileContent">File Content</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="justificacion.description"><span jhiTranslate="sicuApp.documentoJustificacion.justificacion">Justificacion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let documentoJustificacion of documentoJustificacions ;trackBy: trackId">
                <td><a [routerLink]="['/documento-justificacion', documentoJustificacion.id, 'view' ]">{{documentoJustificacion.id}}</a></td>
                <td>{{documentoJustificacion.nombreArchivo}}</td>
                <td>
                    <a *ngIf="documentoJustificacion.fileContent" (click)="openFile(documentoJustificacion.fileContentContentType, documentoJustificacion.fileContent)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="documentoJustificacion.fileContent">{{documentoJustificacion.fileContentContentType}}, {{byteSize(documentoJustificacion.fileContent)}}</span>
                </td>
                <td>
                    <div *ngIf="documentoJustificacion.justificacion">
                        <a [routerLink]="['/justificacion', documentoJustificacion.justificacion?.id, 'view' ]" >{{documentoJustificacion.justificacion?.description}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/documento-justificacion', documentoJustificacion.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/documento-justificacion', documentoJustificacion.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/documento-justificacion', { outlets: { popup: documentoJustificacion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="documentoJustificacions?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
