<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-documento-justificacion-heading" jhiTranslate="sicuApp.documentoJustificacion.home.createOrEditLabel">Create or edit a Documento Justificacion</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sicuApp.documentoJustificacion.nombreArchivo" for="field_nombreArchivo">Nombre Archivo</label>
                    <input type="text" class="form-control" name="nombreArchivo" id="field_nombreArchivo"
                           formControlName="nombreArchivo"/>
                    <div *ngIf="editForm.get('nombreArchivo').invalid && (editForm.get('nombreArchivo').dirty || editForm.get('nombreArchivo').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nombreArchivo').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sicuApp.documentoJustificacion.fileContent" for="field_fileContent">File Content</label>
                    <div>
                        <div *ngIf="editForm.get('fileContent').value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('fileContentContentType').value, editForm.get('fileContent').value)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{editForm.get('fileContentContentType').value}}, {{byteSize(editForm.get('fileContent').value)}}</span>
                            <button type="button" (click)="editForm.patchValue({fileContent: null});editForm.patchValue({fileContentContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_fileContent" (change)="setFileData($event, 'fileContent', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="fileContent" id="field_fileContent"
                           formControlName="fileContent"/>
                    <input type="hidden" class="form-control" name="fileContentContentType" id="field_fileContentContentType"
                           formControlName="fileContentContentType" />
                    <div *ngIf="editForm.get('fileContent').invalid && (editForm.get('fileContent').dirty || editForm.get('fileContent').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('fileContent').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sicuApp.documentoJustificacion.justificacion" for="field_justificacion">Justificacion</label>
                    <select class="form-control" id="field_justificacion" name="justificacion" formControlName="justificacion">
                        <option *ngIf="!editForm.get('justificacion').value" [ngValue]="null" selected></option>
                        <option [ngValue]="justificacionOption.id === editForm.get('justificacion').value?.id ? editForm.get('justificacion').value : justificacionOption" *ngFor="let justificacionOption of justificacions; trackBy: trackJustificacionById">{{justificacionOption.description}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('justificacion').invalid && (editForm.get('justificacion').dirty || editForm.get('justificacion').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('justificacion').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
