<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="beneficiario">
            <h2><span jhiTranslate="sicuApp.beneficiario.detail.title">Beneficiario</span> {{beneficiario.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sicuApp.beneficiario.apellido">Apellido</span></dt>
                <dd>
                    <span>{{beneficiario.apellido}}</span>
                </dd>
                <dt><span jhiTranslate="sicuApp.beneficiario.nombres">Nombres</span></dt>
                <dd>
                    <span>{{beneficiario.nombres}}</span>
                </dd>
                <dt><span jhiTranslate="sicuApp.beneficiario.dni">Dni</span></dt>
                <dd>
                    <span>{{beneficiario.dni}}</span>
                </dd>
                <dt><span jhiTranslate="sicuApp.beneficiario.idBiblioteca">Id Biblioteca</span></dt>
                <dd>
                    <span>{{beneficiario.idBiblioteca}}</span>
                </dd>
                <dt><span jhiTranslate="sicuApp.beneficiario.unidadAcademica">Unidad Academica</span></dt>
                <dd>
                    <span jhiTranslate="{{'sicuApp.UnidadAcademica.' + beneficiario.unidadAcademica}}">{{beneficiario.unidadAcademica}}</span>
                </dd>
                <dt><span jhiTranslate="sicuApp.beneficiario.foto">Foto</span></dt>
                <dd>
                    <div *ngIf="beneficiario.foto">
                        <a (click)="openFile(beneficiario.fotoContentType, beneficiario.foto)">
                            <img [src]="'data:' + beneficiario.fotoContentType + ';base64,' + beneficiario.foto" style="max-width: 100%;" alt="beneficiario image"/>
                        </a>
                        {{beneficiario.fotoContentType}}, {{byteSize(beneficiario.foto)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="sicuApp.beneficiario.user">User</span></dt>
                <dd>
                    {{beneficiario.user?.login}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/beneficiario', beneficiario.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
