<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-beneficiario-heading" jhiTranslate="sicuApp.beneficiario.home.createOrEditLabel">Create or edit a Beneficiario</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sicuApp.beneficiario.apellido" for="field_apellido">Apellido</label>
                    <input type="text" class="form-control" name="apellido" id="field_apellido"
                           formControlName="apellido"/>
                    <div *ngIf="editForm.get('apellido').invalid && (editForm.get('apellido').dirty || editForm.get('apellido').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('apellido').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sicuApp.beneficiario.nombres" for="field_nombres">Nombres</label>
                    <input type="text" class="form-control" name="nombres" id="field_nombres"
                           formControlName="nombres"/>
                    <div *ngIf="editForm.get('nombres').invalid && (editForm.get('nombres').dirty || editForm.get('nombres').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nombres').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sicuApp.beneficiario.dni" for="field_dni">Dni</label>
                    <input type="text" class="form-control" name="dni" id="field_dni"
                           formControlName="dni"/>
                    <div *ngIf="editForm.get('dni').invalid && (editForm.get('dni').dirty || editForm.get('dni').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dni').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dni').errors.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Dni' }">
                            This field should follow pattern for "Dni".
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sicuApp.beneficiario.idBiblioteca" for="field_idBiblioteca">Id Biblioteca</label>
                    <input type="text" class="form-control" name="idBiblioteca" id="field_idBiblioteca"
                           formControlName="idBiblioteca"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sicuApp.beneficiario.unidadAcademica" for="field_unidadAcademica">Unidad Academica</label>
                    <select class="form-control" name="unidadAcademica" formControlName="unidadAcademica" id="field_unidadAcademica">
                        <option value="FI">{{'sicuApp.UnidadAcademica.FI' | translate}}</option>
                        <option value="FCE">{{'sicuApp.UnidadAcademica.FCE' | translate}}</option>
                        <option value="FHYCS">{{'sicuApp.UnidadAcademica.FHYCS' | translate}}</option>
                        <option value="FCA">{{'sicuApp.UnidadAcademica.FCA' | translate}}</option>
                        <option value="EM">{{'sicuApp.UnidadAcademica.EM' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('unidadAcademica').invalid && (editForm.get('unidadAcademica').dirty || editForm.get('unidadAcademica').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('unidadAcademica').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sicuApp.beneficiario.foto" for="field_foto">Foto</label>
                    <div>
                        <img [src]="'data:' + editForm.get('fotoContentType').value + ';base64,' + editForm.get('foto').value" style="max-height: 100px;" *ngIf="editForm.get('foto').value" alt="beneficiario image"/>
                        <div *ngIf="editForm.get('foto').value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{editForm.get('fotoContentType').value}}, {{byteSize(editForm.get('foto').value)}}</span>
                            <button type="button" (click)="clearInputImage('foto', 'fotoContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_foto" (change)="setFileData($event, 'foto', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="foto" id="field_foto"
                           formControlName="foto"/>
                    <input type="hidden" class="form-control" name="fotoContentType" id="field_fotoContentType"
                           formControlName="fotoContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sicuApp.beneficiario.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="user">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('user').value?.id ? editForm.get('user').value : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
