<div>
    <h2 id="page-heading">
        <span jhiTranslate="sicuApp.beneficiario.home.title">Beneficiarios</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-beneficiario" [routerLink]="['/beneficiario/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="sicuApp.beneficiario.home.createLabel">
            Create a new Beneficiario
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="beneficiarios?.length === 0">
        <span jhiTranslate="sicuApp.beneficiario.home.notFound">No beneficiarios found</span>
    </div>
    <div class="table-responsive" *ngIf="beneficiarios?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="apellido"><span jhiTranslate="sicuApp.beneficiario.apellido">Apellido</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="nombres"><span jhiTranslate="sicuApp.beneficiario.nombres">Nombres</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dni"><span jhiTranslate="sicuApp.beneficiario.dni">Dni</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="idBiblioteca"><span jhiTranslate="sicuApp.beneficiario.idBiblioteca">Id Biblioteca</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="unidadAcademica"><span jhiTranslate="sicuApp.beneficiario.unidadAcademica">Unidad Academica</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="foto"><span jhiTranslate="sicuApp.beneficiario.foto">Foto</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="user.login"><span jhiTranslate="sicuApp.beneficiario.user">User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let beneficiario of beneficiarios ;trackBy: trackId">
                <td><a [routerLink]="['/beneficiario', beneficiario.id, 'view' ]">{{beneficiario.id}}</a></td>
                <td>{{beneficiario.apellido}}</td>
                <td>{{beneficiario.nombres}}</td>
                <td>{{beneficiario.dni}}</td>
                <td>{{beneficiario.idBiblioteca}}</td>
                <td jhiTranslate="{{'sicuApp.UnidadAcademica.' + beneficiario.unidadAcademica}}">{{beneficiario.unidadAcademica}}</td>
                <td>
                    <a *ngIf="beneficiario.foto" (click)="openFile(beneficiario.fotoContentType, beneficiario.foto)">
                        <img [src]="'data:' + beneficiario.fotoContentType + ';base64,' + beneficiario.foto" style="max-height: 30px;" alt="beneficiario image"/>
                    </a>
                    <span *ngIf="beneficiario.foto">{{beneficiario.fotoContentType}}, {{byteSize(beneficiario.foto)}}</span>
                </td>
                <td>
                    {{beneficiario.user?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/beneficiario', beneficiario.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/beneficiario', beneficiario.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/beneficiario', { outlets: { popup: beneficiario.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="beneficiarios?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
