<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-asistencia-heading" jhiTranslate="sicuApp.asistencia.home.createOrEditLabel">Create or edit a Asistencia</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sicuApp.asistencia.fechaIngreso" for="field_fechaIngreso">Fecha Ingreso</label>
                    <div class="d-flex">
                        <input id="field_fechaIngreso" type="datetime-local" class="form-control" name="fechaIngreso" formControlName="fechaIngreso" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('fechaIngreso').invalid && (editForm.get('fechaIngreso').dirty || editForm.get('fechaIngreso').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('fechaIngreso').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('fechaIngreso').errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sicuApp.asistencia.fechaSalida" for="field_fechaSalida">Fecha Salida</label>
                    <div class="d-flex">
                        <input id="field_fechaSalida" type="datetime-local" class="form-control" name="fechaSalida" formControlName="fechaSalida" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sicuApp.asistencia.foto" for="field_foto">Foto</label>
                    <div>
                        <img [src]="'data:' + editForm.get('fotoContentType').value + ';base64,' + editForm.get('foto').value" style="max-height: 100px;" *ngIf="editForm.get('foto').value" alt="asistencia image"/>
                        <div *ngIf="editForm.get('foto').value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{editForm.get('fotoContentType').value}}, {{byteSize(editForm.get('foto').value)}}</span>
                            <button type="button" (click)="clearInputImage('foto', 'fotoContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_foto" (change)="setFileData($event, 'foto', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="foto" id="field_foto"
                           formControlName="foto"/>
                    <input type="hidden" class="form-control" name="fotoContentType" id="field_fotoContentType"
                           formControlName="fotoContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sicuApp.asistencia.registradoPor" for="field_registradoPor">Registrado Por</label>
                    <select class="form-control" id="field_registradoPor" name="registradoPor" formControlName="registradoPor">
                        <option *ngIf="!editForm.get('registradoPor').value" [ngValue]="null" selected></option>
                        <option [ngValue]="userOption.id === editForm.get('registradoPor').value?.id ? editForm.get('registradoPor').value : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('registradoPor').invalid && (editForm.get('registradoPor').dirty || editForm.get('registradoPor').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('registradoPor').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sicuApp.asistencia.beneficiario" for="field_beneficiario">Beneficiario</label>
                    <select class="form-control" id="field_beneficiario" name="beneficiario" formControlName="beneficiario">
                        <option *ngIf="!editForm.get('beneficiario').value" [ngValue]="null" selected></option>
                        <option [ngValue]="beneficiarioOption.id === editForm.get('beneficiario').value?.id ? editForm.get('beneficiario').value : beneficiarioOption" *ngFor="let beneficiarioOption of beneficiarios; trackBy: trackBeneficiarioById">{{beneficiarioOption.nombreCompleto}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('beneficiario').invalid && (editForm.get('beneficiario').dirty || editForm.get('beneficiario').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('beneficiario').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
