<div>
    <h2 id="page-heading">
        <span jhiTranslate="sicuApp.asistencia.home.title">Asistencias</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-asistencia" [routerLink]="['/asistencia/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="sicuApp.asistencia.home.createLabel">
            Create a new Asistencia
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="asistencias?.length === 0">
        <span jhiTranslate="sicuApp.asistencia.home.notFound">No asistencias found</span>
    </div>
    <div class="table-responsive" *ngIf="asistencias?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="fechaIngreso"><span jhiTranslate="sicuApp.asistencia.fechaIngreso">Fecha Ingreso</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="fechaSalida"><span jhiTranslate="sicuApp.asistencia.fechaSalida">Fecha Salida</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="foto"><span jhiTranslate="sicuApp.asistencia.foto">Foto</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="registradoPor.login"><span jhiTranslate="sicuApp.asistencia.registradoPor">Registrado Por</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="beneficiario.nombreCompleto"><span jhiTranslate="sicuApp.asistencia.beneficiario">Beneficiario</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let asistencia of asistencias ;trackBy: trackId">
                <td><a [routerLink]="['/asistencia', asistencia.id, 'view' ]">{{asistencia.id}}</a></td>
                <td>{{asistencia.fechaIngreso | date:'medium'}}</td>
                <td>{{asistencia.fechaSalida | date:'medium'}}</td>
                <td>
                    <a *ngIf="asistencia.foto" (click)="openFile(asistencia.fotoContentType, asistencia.foto)">
                        <img [src]="'data:' + asistencia.fotoContentType + ';base64,' + asistencia.foto" style="max-height: 30px;" alt="asistencia image"/>
                    </a>
                    <span *ngIf="asistencia.foto">{{asistencia.fotoContentType}}, {{byteSize(asistencia.foto)}}</span>
                </td>
                <td>
                    {{asistencia.registradoPor?.login}}
                </td>
                <td>
                    <div *ngIf="asistencia.beneficiario">
                        <a [routerLink]="['/beneficiario', asistencia.beneficiario?.id, 'view' ]" >{{asistencia.beneficiario?.nombreCompleto}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/asistencia', asistencia.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/asistencia', asistencia.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/asistencia', { outlets: { popup: asistencia.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="asistencias?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
