<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="asistencia">
            <h2><span jhiTranslate="sicuApp.asistencia.detail.title">Asistencia</span> {{asistencia.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sicuApp.asistencia.fechaIngreso">Fecha Ingreso</span></dt>
                <dd>
                    <span>{{asistencia.fechaIngreso}}</span>
                </dd>
                <dt><span jhiTranslate="sicuApp.asistencia.fechaSalida">Fecha Salida</span></dt>
                <dd>
                    <span>{{asistencia.fechaSalida}}</span>
                </dd>
                <dt><span jhiTranslate="sicuApp.asistencia.foto">Foto</span></dt>
                <dd>
                    <div *ngIf="asistencia.foto">
                        <a (click)="openFile(asistencia.fotoContentType, asistencia.foto)">
                            <img [src]="'data:' + asistencia.fotoContentType + ';base64,' + asistencia.foto" style="max-width: 100%;" alt="asistencia image"/>
                        </a>
                        {{asistencia.fotoContentType}}, {{byteSize(asistencia.foto)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="sicuApp.asistencia.registradoPor">Registrado Por</span></dt>
                <dd>
                    {{asistencia.registradoPor?.login}}
                </dd>
                <dt><span jhiTranslate="sicuApp.asistencia.beneficiario">Beneficiario</span></dt>
                <dd>
                    <div *ngIf="asistencia.beneficiario">
                        <a [routerLink]="['/beneficiario', asistencia.beneficiario?.id, 'view']">{{asistencia.beneficiario?.nombreCompleto}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/asistencia', asistencia.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
