<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-beca-heading" jhiTranslate="sicuApp.beca.home.createOrEditLabel">Create or edit a Beca</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sicuApp.beca.fechaDesde" for="field_fechaDesde">Fecha Desde</label>
                    <div class="input-group">
                        <input id="field_fechaDesde" type="text" class="form-control" name="fechaDesde" ngbDatepicker  #fechaDesdeDp="ngbDatepicker" formControlName="fechaDesde"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaDesdeDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('fechaDesde').invalid && (editForm.get('fechaDesde').dirty || editForm.get('fechaDesde').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('fechaDesde').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sicuApp.beca.fechaHasta" for="field_fechaHasta">Fecha Hasta</label>
                    <div class="input-group">
                        <input id="field_fechaHasta" type="text" class="form-control" name="fechaHasta" ngbDatepicker  #fechaHastaDp="ngbDatepicker" formControlName="fechaHasta"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fechaHastaDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('fechaHasta').invalid && (editForm.get('fechaHasta').dirty || editForm.get('fechaHasta').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('fechaHasta').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sicuApp.beca.habilitacion" for="field_habilitacion">Habilitacion</label>
                    <input type="text" class="form-control" name="habilitacion" id="field_habilitacion"
                           formControlName="habilitacion"/>
                    <div *ngIf="editForm.get('habilitacion').invalid && (editForm.get('habilitacion').dirty || editForm.get('habilitacion').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('habilitacion').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sicuApp.beca.beneficiario" for="field_beneficiario">Beneficiario</label>
                    <select class="form-control" id="field_beneficiario" name="beneficiario" formControlName="beneficiario">
                        <option *ngIf="!editForm.get('beneficiario').value" [ngValue]="null" selected></option>
                        <option [ngValue]="beneficiarioOption.id === editForm.get('beneficiario').value?.id ? editForm.get('beneficiario').value : beneficiarioOption" *ngFor="let beneficiarioOption of beneficiarios; trackBy: trackBeneficiarioById">{{beneficiarioOption.nombreCompleto}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('beneficiario').invalid && (editForm.get('beneficiario').dirty || editForm.get('beneficiario').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('beneficiario').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
