<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="beca">
            <h2><span jhiTranslate="sicuApp.beca.detail.title">Beca</span> {{beca.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sicuApp.beca.fechaDesde">Fecha Desde</span></dt>
                <dd>
                    <span>{{beca.fechaDesde}}</span>
                </dd>
                <dt><span jhiTranslate="sicuApp.beca.fechaHasta">Fecha Hasta</span></dt>
                <dd>
                    <span>{{beca.fechaHasta}}</span>
                </dd>
                <dt><span jhiTranslate="sicuApp.beca.habilitacion">Habilitacion</span></dt>
                <dd>
                    <span>{{beca.habilitacion}}</span>
                </dd>
                <dt><span jhiTranslate="sicuApp.beca.beneficiario">Beneficiario</span></dt>
                <dd>
                    <div *ngIf="beca.beneficiario">
                        <a [routerLink]="['/beneficiario', beca.beneficiario?.id, 'view']">{{beca.beneficiario?.nombreCompleto}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/beca', beca.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
