<div>
    <h2 id="page-heading">
        <span jhiTranslate="sicuApp.beca.home.title">Becas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-beca" [routerLink]="['/beca/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="sicuApp.beca.home.createLabel">
            Create a new Beca
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="becas?.length === 0">
        <span jhiTranslate="sicuApp.beca.home.notFound">No becas found</span>
    </div>
    <div class="table-responsive" *ngIf="becas?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="fechaDesde"><span jhiTranslate="sicuApp.beca.fechaDesde">Fecha Desde</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="fechaHasta"><span jhiTranslate="sicuApp.beca.fechaHasta">Fecha Hasta</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="habilitacion"><span jhiTranslate="sicuApp.beca.habilitacion">Habilitacion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="beneficiario.nombreCompleto"><span jhiTranslate="sicuApp.beca.beneficiario">Beneficiario</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let beca of becas ;trackBy: trackId">
                <td><a [routerLink]="['/beca', beca.id, 'view' ]">{{beca.id}}</a></td>
                <td>{{beca.fechaDesde | date:'mediumDate'}}</td>
                <td>{{beca.fechaHasta | date:'mediumDate'}}</td>
                <td>{{beca.habilitacion}}</td>
                <td>
                    <div *ngIf="beca.beneficiario">
                        <a [routerLink]="['/beneficiario', beca.beneficiario?.id, 'view' ]" >{{beca.beneficiario?.nombreCompleto}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/beca', beca.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/beca', beca.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/beca', { outlets: { popup: beca.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="becas?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
